**/node_modules
**/dist
**/build
**/.turbo
**/.cache
**/.vite
**/.eslintcache
**/coverage
**/*.log

**/.env
**/.env.*
!**/.env.example

**/.DS_Store
**/Thumbs.db

**/*.tsbuildinfo

**/prisma/migrations/**

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.idea
